[submodule "src/projects/project-documentation-shazamers"]
	path = src/projects/project-documentation-shazamers
	url = https://github.com/zuehlke-fh/project-documentation-shazamers.git

[submodule "src/projects/project-documentation-dings"]
	path = src/projects/project-documentation-dings
	url = https://github.com/zuehlke-fh/project-documentation-dings.git

[submodule "src/projects/project-documentation-tom-and-jerry"]
	path = src/projects/project-documentation-tom-and-jerry
	url = https://github.com/zuehlke-fh/project-documentation-tom-and-jerry.git

[submodule "src/projects/project-documentation-physis"]
	path = src/projects/project-documentation-physis
	url = https://github.com/zuehlke-fh/project-documentation-physis.git

[submodule "src/projects/project-documentation-ruhls-bestes"]
	path = src/projects/project-documentation-ruhls-bestes
	url = https://github.com/zuehlke-fh/project-documentation-ruhls-bestes.git

[submodule "src/projects/project-documentation-battery-savers"]
	path = src/projects/project-documentation-battery-savers
	url = https://github.com/zuehlke-fh/project-documentation-battery-savers.git

